@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 87%;
    --foreground: 0 3% 7%;
    --card: 0 0% 87%;
    --card-foreground: 0 3% 7%;
    --popover: 0 0% 87%;
    --popover-foreground: 0 3% 7%;
    --primary: 0 15% 25%;
    --primary-foreground: 0 0% 87%;
    --secondary: 0 20% 65%;
    --secondary-foreground: 0 3% 7%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 3% 70%;
    --accent: 0 25% 42%;
    --accent-foreground: 0 0% 87%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 3% 7%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 25% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 3% 93%;
    --card: 0 0% 13%;
    --card-foreground: 0 3% 93%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 3% 93%;
    --primary: 0 15% 75%;
    --primary-foreground: 0 0% 13%;
    --secondary: 0 20% 35%;
    --secondary-foreground: 0 3% 93%;
    --muted: 0 0% 80%;
    --muted-foreground: 0 3% 93%;
    --accent: 0 25% 58%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 2% 10%;
    --border: 0 0% 60%;
    --input: 0 0% 80%;
    --ring: 0 25% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
